<a href="https://colab.research.google.com/github/alexlautw9527/for_notebook/blob/main/%E7%8E%89%E5%B1%B12021%E5%86%AC%E5%AD%A3%E8%B3%BD%E6%8E%A8%E8%96%A6%E7%B3%BB%E7%B5%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd 
import numpy as np

In [6]:
!cp /content/drive/MyDrive/02_GNL_DATA/2021玉山人工智慧公開挑戰賽冬季賽訓練資料集.gz.gz /content

In [7]:
!gunzip /content/2021玉山人工智慧公開挑戰賽冬季賽訓練資料集.gz.gz

In [8]:
!tar -xvf /content/2021玉山人工智慧公開挑戰賽冬季賽訓練資料集.gz

tbrain_cc_training_48tags_hash_final.csv

In [11]:
%%capture
!python -m pip install "dask[complete]"

In [12]:
import dask.dataframe as dd
df = dd.read_csv('/content/tbrain_cc_training_48tags_hash_final.csv',assume_missing=True)

In [13]:
%%time
df = df.repartition(npartitions=32) 
df = dd.to_parquet(df,path='/content/data.parquet', engine='pyarrow')

CPU times: user 4min 49s, sys: 14.7 s, total: 5min 3s
Wall time: 1min 28s

In [14]:
df = dd.read_parquet('data.parquet', engine='pyarrow')

In [15]:
%%time

df.groupby('chid').size().describe().compute()

CPU times: user 38.6 s, sys: 18.1 s, total: 56.7 s
Wall time: 18.2 s

count    500000.000000
mean         65.951306
std          55.929864
min           1.000000
25%          24.000000
50%          50.000000
75%          93.000000
max         441.000000
dtype: float64

In [18]:
df.head()

        dt        chid shop_tag  ...  gender_code  age  primary_card
index                            ...
0      1.0  10321418.0       45  ...          1.0  4.0           1.0
1      1.0  10414574.0       15  ...          1.0  3.0           1.0
2      1.0  10134567.0       48  ...          0.0  4.0           1.0
3      1.0  10001003.0       48  ...          0.0  3.0           1.0
4      1.0  10267183.0        2  ...          0.0  6.0           0.0

[5 rows x 53 columns]

In [19]:
%%time
newdf = df.groupby(['chid','shop_tag'])['txn_amt'].sum().compute().unstack(fill_value=0)

CPU times: user 1min 11s, sys: 20.4 s, total: 1min 32s
Wall time: 34.9 s

In [17]:
newdf

shop_tag    1  10  11  12  13  14  15  16  17  ...  46  47  48  5  6  7  8  9  other
chid                                           ...
10000000.0  0  18   0   9   0   0   1   0   0  ...   4   0   1  0  0  0  0  0      6
10000001.0  0   1   0   7   0   0   9   1   0  ...   0   0  10  0  3  0  0  0      5
10000002.0  0   1   0   0   0   0   0   0   0  ...   0   0   0  0  0  0  0  0      3
10000003.0  0   0   0   0   0   0   0   0   0  ...   0   0   0  0  0  0  0  0      0
10000004.0  0   0   0   2   0   0   1   0   1  ...   0   0   1  0  0  0  0  2      2
...        ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  .. .. .. .. .. ..    ...
10499995.0  0   2   0   0   0   0   0   0   0  ...   0   0   0  0  0  0  0  0      0
10499996.0  0   1   2   0   0   0   6   4   0  ...   0   4  12  0  4  0  0  0      2
10499997.0  0   0   0   0   0   0   2   1   0  ...   0   0   5  0  0  0  0  0      3
10499998.0  0   7   1   0   0   0   6   0   3  ...  12   0   0  0  1  0  0  0      1
10499999.0  0   0   0   0   0   0   0   0   0  ...   0   0   1  0  0  0  0  0      0

[500000 rows x 49 columns]

In [ ]:
 df.columns

Index(['dt', 'chid', 'shop_tag', 'txn_cnt', 'txn_amt', 'domestic_offline_cnt',
       'domestic_online_cnt', 'overseas_offline_cnt', 'overseas_online_cnt',
       'domestic_offline_amt_pct', 'domestic_online_amt_pct',
       'overseas_offline_amt_pct', 'overseas_online_amt_pct', 'card_1_txn_cnt',
       'card_2_txn_cnt', 'card_3_txn_cnt', 'card_4_txn_cnt', 'card_5_txn_cnt',
       'card_6_txn_cnt', 'card_7_txn_cnt', 'card_8_txn_cnt', 'card_9_txn_cnt',
       'card_10_txn_cnt', 'card_11_txn_cnt', 'card_12_txn_cnt',
       'card_13_txn_cnt', 'card_14_txn_cnt', 'card_other_txn_cnt',
       'card_1_txn_amt_pct', 'card_2_txn_amt_pct', 'card_3_txn_amt_pct',
       'card_4_txn_amt_pct', 'card_5_txn_amt_pct', 'card_6_txn_amt_pct',
       'card_7_txn_amt_pct', 'card_8_txn_amt_pct', 'card_9_txn_amt_pct',
       'card_10_txn_amt_pct', 'card_11_txn_amt_pct', 'card_12_txn_amt_pct',
       'card_13_txn_amt_pct', 'card_14_txn_amt_pct', 'card_other_txn_amt_pct',
       'masts', 'educd', 'trdtp', 'naty', 'poscd', 'cuorg', 'slam',
       'gender_code', 'age', 'primary_card'],
      dtype='object')