<a href="https://colab.research.google.com/github/alexlautw9527/for_notebook/blob/main/%E7%8E%89%E5%B1%B12021%E5%86%AC%E5%AD%A3%E8%B3%BD%E6%8E%A8%E8%96%A6%E7%B3%BB%E7%B5%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd 
import numpy as np
import dask.dataframe as dd

In [2]:
%%capture
!python -m pip install "dask[complete]"

In [3]:
## 消費類別在這些list才是預測範圍

pred_list = ['2',
'6',
'10',
'12',
'13',
'15',
'18',
'19',
'21',
'22',
'25',
'26',
'36',
'37',
'39',
'48']

In [7]:
'''
!cp /content/drive/MyDrive/02_GNL_DATA/2021玉山人工智慧公開挑戰賽冬季賽訓練資料集.gz.gz /content
!gunzip /content/2021玉山人工智慧公開挑戰賽冬季賽訓練資料集.gz.gz
!tar -xvf /content/2021玉山人工智慧公開挑戰賽冬季賽訓練資料集.gz

import dask.dataframe as dd
df = dd.read_csv('/content/tbrain_cc_training_48tags_hash_final.csv',assume_missing=True)

%%time
## 把csv切成32個parquet格式

df = df.set_index('chid')
df = df.map_partitions(lambda df: df.sort_values(['chid', 'dt']))

df = df.repartition(npartitions=32) 
df = dd.to_parquet(df,path='/content/data.parquet', engine='pyarrow')

!zip -r esun2021winterdata_parquet.zip /content/data.parquet
'''

In [6]:
## 載入切好格式

df = dd.read_parquet('/content/data.parquet', engine='pyarrow')

In [ ]:
%%time
##看看一個id都幾筆資料
df.groupby('chid').size().describe().compute()

CPU times: user 38.6 s, sys: 18.1 s, total: 56.7 s
Wall time: 18.2 s

count    500000.000000
mean         65.951306
std          55.929864
min           1.000000
25%          24.000000
50%          50.000000
75%          93.000000
max         441.000000
dtype: float64

In [ ]:
train_org

In [7]:
train_org = df[df['dt']<11]
train_y_org = df[df['dt']==11]

In [9]:
%%time
train_y_org = train_y_org.groupby(['chid','shop_tag'])['txn_amt'].sum().compute().unstack(fill_value=0)

CPU times: user 32 s, sys: 21.2 s, total: 53.2 s
Wall time: 18 s

In [10]:
train_y_org= train_y_org[pred_list]

In [17]:
train_y = train_y_org.div(train_y_org.sum(axis=1), axis=0).fillna(0).values

In [19]:
train_y.shape

(378500, 16)

shop_tag               2    6  ...            39            48
chid                           ...
10000000.0      0.000000  0.0  ...      0.000000      0.000000
10000001.0      0.000000  0.0  ...      0.000000      0.000000
10000004.0      0.000000  0.0  ...      0.000000   5419.225995
10000006.0      0.000000  0.0  ...      0.000000      0.000000
10000008.0  10482.027930  0.0  ...      0.000000      0.000000
...                  ...  ...  ...           ...           ...
10499992.0      0.000000  0.0  ...      0.000000   2688.055269
10499993.0      0.000000  0.0  ...      0.000000      0.000000
10499996.0      0.000000  0.0  ...      0.000000      0.000000
10499997.0   5067.875774  0.0  ...      0.000000  11245.637032
10499998.0      0.000000  0.0  ...  17234.229393      0.000000

[378500 rows x 16 columns]

In [ ]:
train_org

In [50]:
test_org

Dask DataFrame Structure:
                     dt shop_tag  txn_cnt  txn_amt domestic_offline_cnt domestic_online_cnt overseas_offline_cnt overseas_online_cnt domestic_offline_amt_pct domestic_online_amt_pct overseas_offline_amt_pct overseas_online_amt_pct card_1_txn_cnt card_2_txn_cnt card_3_txn_cnt card_4_txn_cnt card_5_txn_cnt card_6_txn_cnt card_7_txn_cnt card_8_txn_cnt card_9_txn_cnt card_10_txn_cnt card_11_txn_cnt card_12_txn_cnt card_13_txn_cnt card_14_txn_cnt card_other_txn_cnt card_1_txn_amt_pct card_2_txn_amt_pct card_3_txn_amt_pct card_4_txn_amt_pct card_5_txn_amt_pct card_6_txn_amt_pct card_7_txn_amt_pct card_8_txn_amt_pct card_9_txn_amt_pct card_10_txn_amt_pct card_11_txn_amt_pct card_12_txn_amt_pct card_13_txn_amt_pct card_14_txn_amt_pct card_other_txn_amt_pct    masts    educd    trdtp     naty    poscd    cuorg     slam gender_code      age primary_card
npartitions=32
10000000.0      float64   object  float64  float64              float64             float64              float64             float64                  float64                 float64                  float64                 float64        float64        float64        float64        float64        float64        float64        float64        float64        float64         float64         float64         float64         float64         float64            float64            float64            float64            float64            float64            float64            float64            float64            float64            float64             float64             float64             float64             float64             float64                float64  float64  float64  float64  float64  float64  float64  float64     float64  float64      float64
10014869.0          ...      ...      ...      ...                  ...                 ...                  ...                 ...                      ...                     ...                      ...                     ...            ...            ...            ...            ...            ...            ...            ...            ...            ...             ...             ...             ...             ...             ...                ...                ...                ...                ...                ...                ...                ...                ...                ...                ...                 ...                 ...                 ...                 ...                 ...                    ...      ...      ...      ...      ...      ...      ...      ...         ...      ...          ...
...                 ...      ...      ...      ...                  ...                 ...                  ...                 ...                      ...                     ...                      ...                     ...            ...            ...            ...            ...            ...            ...            ...            ...            ...             ...             ...             ...             ...             ...                ...                ...                ...                ...                ...                ...                ...                ...                ...                ...                 ...                 ...                 ...                 ...                 ...                    ...      ...      ...      ...      ...      ...      ...      ...         ...      ...          ...
10485007.0          ...      ...      ...      ...                  ...                 ...                  ...                 ...                      ...                     ...                      ...                     ...            ...            ...            ...            ...            ...            ...            ...            ...            ...             ...             ...             ...             ...             ...                ...                ...                ...                ...                ...                ...                ...                ...                ...                ...                 ...                 ...                 ...                 ...                 ...                    ...      ...      ...      ...      ...      ...      ...      ...         ...      ...          ...
10499999.0          ...      ...      ...      ...                  ...                 ...                  ...                 ...                      ...                     ...                      ...                     ...            ...            ...            ...            ...            ...            ...            ...            ...            ...             ...             ...             ...             ...             ...                ...                ...                ...                ...                ...                ...                ...                ...                ...                ...                 ...                 ...                 ...                 ...                 ...                    ...      ...      ...      ...      ...      ...      ...      ...         ...      ...          ...
Dask Name: getitem, 128 tasks

In [57]:
test = test_org.loc[[10000000, 10000001]].compute()

In [58]:
test.groupby('chid').apply

              dt shop_tag  txn_cnt  ...  gender_code  age  primary_card
chid                                ...
10000000.0  12.0       45      1.0  ...          1.0  4.0           1.0
10000000.0  13.0       10      2.0  ...          1.0  4.0           1.0
10000000.0  13.0    other      1.0  ...          1.0  4.0           1.0
10000000.0  14.0       12      2.0  ...          1.0  4.0           1.0
10000000.0  14.0       10      4.0  ...          1.0  4.0           1.0
...          ...      ...      ...  ...          ...  ...           ...
10000001.0  23.0       10      1.0  ...          0.0  5.0           1.0
10000001.0  24.0       48      2.0  ...          0.0  5.0           1.0
10000001.0  24.0       45      2.0  ...          0.0  5.0           1.0
10000001.0  24.0       37      1.0  ...          0.0  5.0           1.0
10000001.0  24.0       21      1.0  ...          0.0  5.0           1.0

[74 rows x 52 columns]

In [26]:
profile_df = df.groupby('chid').last().compute()

In [28]:
profile_df.columns

Index(['dt', 'shop_tag', 'txn_cnt', 'txn_amt', 'domestic_offline_cnt',
       'domestic_online_cnt', 'overseas_offline_cnt', 'overseas_online_cnt',
       'domestic_offline_amt_pct', 'domestic_online_amt_pct',
       'overseas_offline_amt_pct', 'overseas_online_amt_pct', 'card_1_txn_cnt',
       'card_2_txn_cnt', 'card_3_txn_cnt', 'card_4_txn_cnt', 'card_5_txn_cnt',
       'card_6_txn_cnt', 'card_7_txn_cnt', 'card_8_txn_cnt', 'card_9_txn_cnt',
       'card_10_txn_cnt', 'card_11_txn_cnt', 'card_12_txn_cnt',
       'card_13_txn_cnt', 'card_14_txn_cnt', 'card_other_txn_cnt',
       'card_1_txn_amt_pct', 'card_2_txn_amt_pct', 'card_3_txn_amt_pct',
       'card_4_txn_amt_pct', 'card_5_txn_amt_pct', 'card_6_txn_amt_pct',
       'card_7_txn_amt_pct', 'card_8_txn_amt_pct', 'card_9_txn_amt_pct',
       'card_10_txn_amt_pct', 'card_11_txn_amt_pct', 'card_12_txn_amt_pct',
       'card_13_txn_amt_pct', 'card_14_txn_amt_pct', 'card_other_txn_amt_pct',
       'masts', 'educd', 'trdtp', 'naty', 'poscd', 'cuorg', 'slam',
       'gender_code', 'age', 'primary_card'],
      dtype='object')

In [30]:
profile_df = profile_df[[
  'masts', 'educd', 'trdtp', 'naty', 'poscd', 
  'cuorg','gender_code', 'age']]

In [34]:
profile_df['masts'].value_counts()

1.0    254529
2.0    245094
3.0       374
Name: masts, dtype: int64

In [35]:
profile_df['educd'].value_counts()

3.0    192602
5.0     97614
4.0     87598
6.0     63800
2.0     53533
1.0      4850
Name: educd, dtype: int64

In [21]:
%%time
df['dt'].unique().compute()

CPU times: user 1.44 s, sys: 557 ms, total: 2 s
Wall time: 821 ms

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9     10.0
10    11.0
11    12.0
12    13.0
13    14.0
14    15.0
15    16.0
16    17.0
17    18.0
18    19.0
19    20.0
20    21.0
21    22.0
22    23.0
23    24.0
Name: dt, dtype: float64

In [ ]:
%%time

## 計算by id各類別總計消費金額
newdf = df.groupby(['chid','shop_tag'])['txn_amt'].sum().compute().unstack(fill_value=0)

CPU times: user 1min 11s, sys: 20.4 s, total: 1min 32s
Wall time: 34.9 s

In [ ]:
newdf.head()

shop_tag      1             10   11  ...    8             9         other
chid                                 ...
10000000.0  0.0  191770.225706  0.0  ...  0.0      0.000000  40746.482820
10000001.0  0.0   12847.384866  0.0  ...  0.0      0.000000  50488.365846
10000002.0  0.0   16755.695323  0.0  ...  0.0      0.000000  37649.183244
10000003.0  0.0       0.000000  0.0  ...  0.0      0.000000      0.000000
10000004.0  0.0       0.000000  0.0  ...  0.0  10659.532107  12386.980405

[5 rows x 49 columns]

In [ ]:
np.argmax(newdf,axis=1)

array([ 1, 42, 48, ..., 35, 39, 14])

In [ ]:

## 取topn最大值的位置 (為了直接映射colname, 而colname即是類別)
n=0
(-newdf.values).argsort(axis=1)[:,n]

array([ 1, 42, 48, ..., 35, 39, 14])

In [ ]:
top1 = [list(newdf.columns)[x] for x in (-newdf.values).argsort(axis=1)[:,0]]
top2 = [list(newdf.columns)[x] for x in (-newdf.values).argsort(axis=1)[:,1]]
top3 = [list(newdf.columns)[x] for x in (-newdf.values).argsort(axis=1)[:,2]]

In [ ]:
top_df = pd.DataFrame({'chid':newdf.index, 'top1':top1, 'top2':top2, 'top3':top3})
top_df['chid'] = top_df['chid'].astype(int)

In [ ]:
top_df['top1'] = np.where(top_df['top1'].isin(pred_list), top_df['top1'], np.nan)
top_df['top2'] = np.where(top_df['top2'].isin(pred_list), top_df['top2'], np.nan)
top_df['top3'] = np.where(top_df['top3'].isin(pred_list), top_df['top3'], np.nan)

37 15 36為先驗top3最多的消費類別

In [ ]:
top_df = top_df.fillna('37')

In [ ]:
top_df.to_csv('submit2.csv', index=False)

In [ ]:
top_df

            chid top1 top2 top3
0       10000000   10   37   12
1       10000001   48   37   15
2       10000002   37   10   37
3       10000003   22   37   37
4       10000004   37   37   12
...          ...  ...  ...  ...
499995  10499995    2   10   37
499996  10499996   48   15   37
499997  10499997   37   25   37
499998  10499998   37   39   37
499999  10499999   22   25   37

[500000 rows x 4 columns]